@import '~bootstrap-icons/font/bootstrap-icons.css';
.mainCard {
    color: rgb(230, 20, 66);
    
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    
}
.card-body {
    background-color: rgb(42, 42, 42);
    padding: 3px;
    
}
.card {
    border-color: rgb(42, 42, 42);
    padding: 3px;
    /* margin:  10px 10px 20px 10px;  */
}
.icon-large {
    font-size: 25px;
}
.highlight-padding {
    border: 1px rgb(130, 130, 130); 
    background-color: rgb(42, 42, 42);
    padding: 3px; 
    position: relative; 
}
h1 {
    font-family: 'Orbitron', sans-serif;
    color:gray
}

p {
    font-family: 'Orbitron', sans-serif;

    color:gray
    
}